h1 {
    color: white;
    background-color: orangered;
    border: orange;
    text-align: center;
}

h2 {

    color: white;
    background-color: orange;

}

p {
    color:slategrey;

}

div {
    text-align: center;
    border-color: orange;


}

