h1{
    background-color: orangered;
    text-align: center;
}

h2{
    text-align: center;
    color: white;

}
 body {
    background-image: url("../imagens/foodtruck.jpg");
    background-size: 100% 250%;
    
 }


p{
    text-align: center;
    

}

button{
    background-color: yellow;

}


div{
    color: white;
    border: solid black 2px;
    background-color: orangered;
    
}

link {

    color: black;

}